* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

#header {
  height: 60px;
  width: 100%;
  padding-right: 24px;
  padding-left: 16px;
  display: block;
  background-color: black;
  border-bottom: 1000px;
  border-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header div {
  display: inline-block;
}

#header div a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

/*Logo + cac muc text*/
#header .nav {}

#header .nav a {
  padding: 7.5px 7.5px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 10px;
}

#header .nav .navItem:hover {
  color: black;
  background-color: lightgray;
}

#header .logo {
  font-size: 30px;
  padding: 0 5px;
}

#header .navItem {
  font-size: 20px;
}

/*Hop tim kiem*/
#header .search {
  background-color: white;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .search .search-btn {
  color: black;
  border: solid;
  border-color: lightgray;
  border-width: 1px;
}

#header .search input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 300px;
  padding-left: 5px;
}

#header .search .search-btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  border-left-color: lightgray;
}

#header .search .search-btn:hover {
  background-color: lightgray;
  color: black;
}

/*Gio hang + pro5*/
#header.useraction {
  height: 40px;
  display: flex;
  align-items: center;
}

#header .useraction a {
  display: inline-block;
  border-radius: 10px;
  min-width: 30px;
  font-size: 20px;
  padding: 10px;
  margin: 0 5px;
}

#header .useraction a:hover {
  background-color: lightgray;
  color: black;
}

/* Danh sach the loai */
#content .categories {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: inline-block;
  min-width: 200px;
  height: 500px;
  overflow: scroll;
}

#content .categories .cate-title {
  padding: 10px;
  border-bottom-style: solid;
  border-width: 1px;
}

#content .categories ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px;
}

#content .categories ul li:hover a {
  background-color: lightgray;
}

/*slideshow*/
#content .slideshow {}

/*about*/
#about {
  display: flex;
  align-items: center;
  background-color: black;
}

#about div {
  padding: 0 50px;
}

#about .intro {
  display: inline-block;
  width: 50vw;
  color: white;
}

#about .contact {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  color: white;
}

#about .contact ul {
  list-style: none;
}

#about .contact ul li a {
  display: block;
  color: white;
  text-decoration: none;
}